 body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/backgroundgraph.jpg');
    background-size: 100% auto;
}
 /*table  {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
th{
    padding: 5px;
    background-color: #052e66;
    color: white;
    border: 1px solid white;
}
td{
    padding: 10px;
    border: 1px solid white;
    font-family: Montserrat;
}
a{
    color: white;
    font-family: Montserrat;
}

tr:nth-child(odd) {
    background-color: #eeeee4;
}

tr:nth-child(even) {
    background-color: #44bcd8;
}

.search {

  width: 40%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #black;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 45px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


        */